.recent-articles {
  padding: 90px 0;
  background-color: var(--color-accent);
}

.recent-articles__title {
  text-align: center;
  font-size: 38px;
  color: #5c524b;
  font-weight: 800;
}

.recent-articles__subtitle {
  color: #76706b;
  text-align: center;
  font-size: 19px;
  margin-bottom: 48px;
}
.recent-articles__image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 371px;
  overflow: hidden;
}

.recent-articles__image {
  display: block;
  width: 100%;
  height: auto;
}

.recent-articles__text-overlay {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 5px;
  z-index: 1;
}

/* Коли потрібно, щоб текст був по центру зображення */
.recent-articles__text-overlay.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: auto;
  right: auto;
  text-align: center;}